.App {
  text-align: center;
  width: 79%;

  position: absolute;
  left: 10%;
  right: 10%;
  min-height: 100vh;
}

.blue {
  background-color: rgb(16, 179, 97);
  border: solid 3px rgb(16, 179, 97);
  border-radius: 3px;
  padding: 2px;
  margin: 3px;
  box-sizing: border-box;
  display: inline-block;
}

.pink {
  background-color: rgb(247, 190, 1);
  border: solid 3px rgb(247, 190, 1);
  border-radius: 3px;
  padding: 2px;
  margin: 3px;
  box-sizing: border-box;
}

.form-control {
  appearance: none;
  background-color: transparent;
  border: solid 1px lightgrey;
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
}

.fav-array {
  padding: 20px;
}
